
.back-login{
    width: 20rem;
    height: 2.375rem;
    border-radius: 0.25rem;
    background-color: #364FC7;
    border: none;
    color: white;
}

.register{
    width: 20rem;
    height: 2.375rem;
    border-radius: 0.25rem;
    background-color: #FCFEFF;
    border: 1px solid #D9D9D9;
}

.back-login:hover{
    transform: scale(1.02);
}

.register:hover{   
    background-color: var(--grey-8);
    transition: 300ms;
}

.disabled {
    opacity: 0.5;
    pointer-events: none;
}