* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600&display=swap%27'); 
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap%27');

:root {
  --brand-1:  #364FC7;
  --brand-2:  #3B56D9;
  --grey-1:   #212529;
  --grey-2:   #343A40;
  --grey-3:   #495057;
  --grey-4:   #868E96;
  --grey-5:   #ADB5BD;
  --grey-6:   #E9ECEF;
  --grey-7:   #F1F3F5;
  --grey-8:   #F8F9FA;
  --grey-9:   #FCFEFF;
  --alert-1:  #C73650;
  --alert-2:  #DB3C58;
  --sucess:   #087F5B;
}

* {
  font-family: 'IBM Plex Sans', sans-serif;
}

button{
  cursor: pointer;
}
.container-creat > img{
  cursor: pointer;
}

.spinning {
  animation: spinning 3s linear infinite;
}

@keyframes spinning {
  0%{
    rotate: 0deg;
  }
  100% {
    rotate: 359deg;
  }
}

